/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

:root {
    --orange: #e67e22;
    --lightorange: #eb984e;
    --orangeshade: #cf711f;
    --darkshade: #45260a;
    --grayonbg: #6f6f6f;
    --grayonwhite: #767676;
    --bg: #fdf2e9;
    --graybg: #fae5d3;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: var(--lightorange);
    color: var(--bg);
}

html {
    /* font-size: 10px; */
    /* 10px / 16px = 0.625 = 62.5% */
    /* Percentage of user's browser font-size setting */
    font-size: 62.5%;
}
body {
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #555;
}


/* header styles */


/*********************
navbar style 
**********************/
.header {
    background-color: var(--bg);
    padding-bottom: 10rem;
}
.header > .container {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}
.container {
    width: 95%;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.8rem 1.8rem;
}
.header__logo img {
    width: 16.4rem;
}
.header__navbar {
    padding-right: 1rem;
}
.header__navbar a {
    text-decoration: none;
    color: #333;
    font-size: 1.8rem;
    transition: .3s;
    font-weight: 600;
}
.header__navbar a:hover{
    color: var(--orangeshade);
}
.header__navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3.2rem;
}
.bg {
    background-color: var(--orange);
    border-radius: 9px;
    padding: 1.2rem 2.4rem;
    transition: all .3s;
}
.bg a {
    color: #fff;
}
.bg a:hover {
    color: #fff;
}
.bg:hover, .bg:active {
    background-color: var(--orangeshade);
    cursor: pointer;
}

/* ********************* */
/* navbar style */
/* ********************* */



/* ********************* */
/* header main */
/* ********************* */

.header__main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0 3rem;
}
.header__main--text {
    grid-row: 1 / 5;
}
.header__main--member {
    grid-row: 5 / 7;
}
.header__main--photos {
    grid-column: 2 / 3;
    grid-row: 1 / 7;
}
.header__main--text > h1 {
    font-size: 5.2rem;
    line-height: 1.05;
    font-weight: 700;
    color: #333;
}
.header__main--text > p {
    font-size: 2rem;
    line-height: 1.6;
    color: #333;
}
.header__main--text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.button > button {
    border: none;
    outline: none;
    border-radius: 9px;
    padding: 1.6rem 3.2rem;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}
.button {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}
.button__gray {
    background-color: var(--orange);
    color: #fff;
    transition: all .3s;
}
.button__gray:hover {
    background-color: var(--orangeshade);
}
.button__light {
    background-color: #fff;
    color: #333;
    border: 3px solid #fff;
    transition: all .3s;
}   
.button__light:hover {
    background-color: var(--bg);
    box-shadow: inset 0 0 0 3px #fff;
}
.header__main--member {
    display: flex;
    align-items: center;
}
.member__image {
    display: flex;
    align-items: center;
}
.member__image img {
    width: 4.8rem;
    border: 3px solid var(--bg);
    border-radius: 50%;
    margin-left: -5%;
}
.member__text {
    display: flex;
    gap: .5rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.number {
    color: var(--orangeshade);
    margin-left: -7rem;
}
.header__main--photos img {
    width: 100%;
}

/* ******************* */
/* header main */
/* ******************* */

/* header style */


/* main style */

main {
    padding: 5rem 0;
}
.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    max-width: 120rem;
    margin: 0 auto;
}
.logo > p {
    font-size: 1.4rem;
    letter-spacing: .15rem;
    font-weight: 500;
    color: #888;
    text-transform: uppercase;
}
.logos__img {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.logos__img img {
    height: 3.2rem;
    opacity: 50%;
    filter: brightness(0);
}


/* ***************** */
/* app */
/* ***************** */

.app {
    max-width: 118rem;
    margin: 6rem auto;
}
.app__title {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 8rem 0;
}
.app__title > p {
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--orangeshade);
}
.app__title > h2 {
    font-size: 4.2rem;
    color: #333;
}
.app__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;
    margin-top: 2rem;
}
.app__container img {
    width: 30%;
}
.app__aontainer--number {
    font-size: 8.6rem;
    color: #ddd;
    font-weight: 600;
}
.app__content--title {
    font-size: 3rem;
}
.app__content--text {
    font-size: 1.8rem;
    line-height: 1.8;
}
.apptext {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.appimage {
    display: flex;
    justify-content: center;
}
.app__container--content1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.app__container--image1 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.app__container--content2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}
.app__container--image2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.app__container--content3 {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
.app__container--image3 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

/* ***************** */
/* app */
/* ***************** */




/* ***************** */
/* meals */
/* ***************** */

.meals {
    margin-top: 12rem;
    margin-bottom: 2rem;
}
.meals__title {
    max-width: 118rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}
.meals__title--dis {
    color: var(--orangeshade);
    font-weight: 500;
    font-size: 1.6rem;
}
.meals__title--text {
    font-size: 4.2rem;
    color: #333;
}
.meals__box {
    max-width: 118rem;
    display: grid;
    column-gap: 6.4rem;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    margin-top: 10rem;
}
.meals__box img {
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.meal__box {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    gap: 3.4rem;
    align-items: center;
    transition: all .4s;
}
.meal__box:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}
.meals__box--content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 75%;
    margin-bottom: 13%;
}
.box__title {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.box__title > h2 {
    font-size: 2.4rem;
    font-weight: 600;
    color: #333;
}
.box__title--group {
    display: flex;
    gap: .5rem;
}
.second__group p:first-child {
    background-color: #94d82d;
}
.second__group p:last-child {
    background-color: #ffd43b;
}
.box__title--group > p {
    display: inline-block;
    background-color: #51cf66;
    padding: .4rem .8rem;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
    border-radius: 10rem;
    font-size: 1.2rem;
}
.maels__box--feature {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.8rem;
}
.feature {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.feature ion-icon {
    font-size: 2.4rem;
    color: var(--orange);
}
.meals__list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0 1rem;
}
.meals__list--title h2 {
    font-size: 3.2rem;
    color: #333;
    font-weight: 600;
}
.meals__list--content {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}
.mael__list {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.mael__list ion-icon {
    font-size: 2.4rem;
    color: var(--orange);
}
.mael__list span {
    font-size: 1.8rem;
}
.recipes {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
a.recipes__link ,a.recipes__link:visited{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--orange);
    border-bottom: 1px solid var(--orange);
    padding: .2rem;
    transition: all .4s;
}
a.recipes__link:hover {
    color: var(--orangeshade);
    border-bottom: 1px solid #fff;
}

/* ***************** */
/* meals */
/* ***************** */


/* ***************** */
/* testimonial */
/* ***************** */

.testimonial {
    padding: 2rem 0;
    background-color: var(--bg);
    margin-top: 6rem;
}
.testimonial__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 4rem;
    margin: 8rem auto;
    max-width: 118rem;
}
.testimonial__topic {
    display: flex;
    flex-direction: column;
    gap: 10rem;
}
.testimonial__coments {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 7rem;
    row-gap: 7rem;
}
.testimonial__coments img {
    width: 6.4rem;
    border-radius: 50%;
}
.testimonial__topic--title {
    font-weight: 500;
    font-size: 1.6rem;
    color: var(--orange);
}
.testimonial__topic--text {
    font-size: 4.2rem;
    color: #333;
}
.testimonial__coments--box {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.testimonial__coment > blockquote {
    font-size: 1.8rem;
    line-height: 1.8;
}
.testimonial__coment--name {
    font-size: 1.6rem;
    color: #6f6f6f;
}
.testimonial__gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1.6rem;
    padding: 1.4rem;
}
.testimonial__gallery--image {
    overflow: hidden;
}
.testimonial__gallery--image img {
    width: 100%;
    height: 100%;
    transition: .3s;
}
.testimonial__gallery--image img:hover {
    transform: scale(1.1);
}

/* ***************** */
/* testimonial */
/* ***************** */

/* main style */
